# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
.next/
out/
*.tsbuildinfo

# turbo
.turbo/

# test coverage
coverage/

# env
.env
.env.local
.env.*.local
!.env.example

# prisma local db
*.db
*.db-journal

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# deploy
.vercel
